[submodule "projects/sleep-variations"]
	path = projects/sleep-variations
	url = https://github.com/mykedean/sleep-variations.git
[submodule "projects/fryxellsee-opt"]
	path = projects/fryxellsee-opt
	url = https://github.com/mykedean/fryxellsee-opt.git
[submodule "library/recording-projects/eastern-townships"]
	path = library/recording-projects/eastern-townships
	url = https://github.com/mykedean/eastern-townships.git
