[submodule "projects/sleep-variations"]
	path = projects/sleep-variations
	url = https://github.com/mykedean/sleep-variations.git
[submodule "projects/skeletal-wires"]
	path = projects/skeletal-wires
	url = https://github.com/mykedean/skeletal-wires.git
[submodule "projects/the-meaning-of-an-object"]
	path = projects/the-meaning-of-an-object
	url = https://github.com/mykedean/the-meaning-of-an-object.git
[submodule "projects/fryxellsee-opt"]
	path = projects/fryxellsee-opt
	url = https://github.com/mykedean/fryxellsee-opt.git
[submodule "library/recording-projects/eastern-townships"]
	path = library/recording-projects/eastern-townships
	url = https://github.com/mykedean/eastern-townships.git
